@Html.Partial("Scripts")
@Html.Partial("Stylesheet")
@ViewBag.Title

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/myAngularJS/frame.js"></script>

<style>
    div.pictureSolar {
        width: 20px; /*width of your image*/
        height: 150px; /*height of your image*/
        background-image: url('../../Content/Image/太陽能.png');
        margin: 0; /* If you want no margin */
        padding: 0; /*if your want to padding */
        background-size: 100% 100%;
    }

    div.pictureGrid {
        width: 200px; /*width of your image*/
        height: 150px; /*height of your image*/
        background-image: url('../../Content/Image/市電.png');
        margin: 0; /* If you want no margin */
        padding: 0; /*if your want to padding */
        background-size: 100% 100%;
    }

    div.pictureMain {
        width: 200px; /*width of your image*/
        height: 300px; /*height of your image*/
        background-image: url('../../Content/Image/防災儲能系統.png');
        margin: 0; /* If you want no margin */
        padding: 0; /*if your want to padding */
        background-size: 100% 100%;
    }

    div.pictureLoad {
        width: 200px; /*width of your image*/
        height: 150px; /*height of your image*/
        background-image: url('../../Content/Image/負載.png');
        margin: 0; /* If you want no margin */
        padding: 0; /*if your want to padding */
        background-size: 100% 100%;
    }

    div.pictureGen {
        width: 200px; /*width of your image*/
        height: 150px; /*height of your image*/
        background-image: url('../../Content/Image/發電機.png');
        margin: 0; /* If you want no margin */
        padding: 0; /*if your want to padding */
        background-size: 100% 100%;
    }

    div.pictureBattery {
        width: 200px; /*width of your image*/
        height: 150px; /*height of your image*/
        background-image: url('../../Content/Image/電池.png');
        margin: 0; /* If you want no margin */
        padding: 0; /*if your want to padding */
        background-size: 100% 100%;
    }

    div.ArrowDown {
        width: 10px; /*width of your image*/
        height: 50px; /*height of your image*/
        background-image: url('../../Content/Image/Arrow/down-arrow.png');
        margin: 0; /* If you want no margin */
        padding: 0; /*if your want to padding */
        background-size: 10% 100%;
    }
</style>

<div ng-app="frameApp">
    <div ng-controller="frameController">
        <div class="row text-center">
            @*level1*@
            <div class="col-sm-3 col-md-3 col-lg-3 "></div>
            <div class="col-sm col-md col-lg "></div>
            <div class="col-sm-3 col-md-3 col-lg-3 pictureSolar"></div>
            <div class="col-sm col-md col-lg text-left">
                <h5>太陽能</h5>
                <h5>功率 : {{salor}}kW</h5>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3"></div>

            <div class="w-100"></div>

            @*level2*@
            <div class="col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-sm col-md col-lg "></div>
            <div class="col-sm-3 col-md-3 col-lg-3 "></div>
            <img width="50" height="50" src="~/Content/Image/Arrow/down-arrow.png" />
            <div class="col-sm col-md col-lg "></div>
            <div class="col-sm-3 col-md-3 col-lg-3 "></div>

            <div class="w-100"></div>

            @*level3*@
            <div class="col-sm-3 col-md-3 col-lg-3 pictureGrid">
            </div>
            <div class="col-sm col-md col-lg text-left">
                <h5>市電</h5>
                <h5>功率 : {{GirdPower}} kW</h5>
                <img src="~/Content/Image/Arrow/right-arrow.png" />
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 pictureMain"></div>
            <div class="col-sm col-md col-lg text-right">

            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 pictureLoad"></div>

            <div class="w-100"></div>

            @*level4*@
            <div class="col-sm-3 col-md-3 col-lg-3"> </div>
            <div class="col-sm col-md col-lg ">
                <img width="50" height="50" src="~/Content/Image/Arrow/diagonal-arrow.png" />
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="~/Content/Image/Arrow/transfer.png" />
            </div>
            <div class="col-sm col-md col-lg "></div>
            <div class="col-sm-3 col-md-3 col-lg-3 pictureGen"></div>

            <div class="w-100"></div>

            @*level5*@
            <div class="col-sm-3 col-md-3 col-lg-3 "> </div>
            <div class="col-sm col-md col-lg "></div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <p>儲能電池</p>
            </div>
            <div class="col-sm col-md col-lg text-left">
                <h5>電池</h5>
                <h5>狀態 :  {{BatteyMode}} </h5>
                <h5>SOC :  {{BatteySOC}} % </h5>
                <h5>功率 :   {{BatteyPower}}  kW</h5>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3  pictureBattery"></div>

        </div>
    </div>
</div>
