
@{
    ViewBag.Title = "光采濕地";
    Layout = "~/Areas/APP/Views/Shared/_LayoutAPPDetail .cshtml";
}

<h2>GuanTsai</h2>

<button type="button" class="btn btn-info btn-lg btn-block btmStyle" ></button>
<button type="button" class="btn btn-info btn-lg btn-block btmStyle" ></button>
