<link href="~/Content/CSS/Default/_Footer.css" rel="stylesheet" />

<footer>
    主辦單位
    <img src="~/Content/Image/Common/經濟部能源局.jpg"
         alt="經濟部能源局"
         title="經濟部能源局" />

    執行單位
    <img src="~/Content/Image/Common/財團法人資訊工業策進會白底.jpg"
         alt="財團法人資訊工業策進會"
         title="財團法人資訊工業策進會" />

    連絡電話：<span>07-3394105</span>  聯絡地址：<span>高雄市80661前鎮區復興四路2號3樓之3</span><br />
    Copyright&copy @DateTime.Now.Year 經濟部能源局

    建議使用IE9.0 以上或Firefox、Chrome 瀏覽器
</footer>
