
@{
    ViewBag.Title = "QRCode";
    int StationNum = ViewBag.StationNum;
    Layout = StationNum == 6 ? "~/Views/Shared/_LayoutJiasing.cshtml" : "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container">
    <div class="row" style="height:20px">

    </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="card" style="width: 18rem; margin:auto">
                    <img class="card-img-top" src="~/Content/Image/android.png" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">QRCode </h5>
                        <p class="card-text">Android 專用APP下載</p>
                        <button type="button" class="btn btn-primary btn-lg btn-bloc" onclick="location.href='@Url.Action("Download", "Tab")'">下載APP</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        </div>
    </div>


