<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="file" xsi:type="File"
              fileName="${basedir}/App_Data/Logs/${shortdate}/${logger}.txt"
              layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />
    <target name="FatalFile" xsi:type="File"
        fileName="${basedir}/App_Data/Logs/${shortdate}/FatalFile.txt"
        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />
    <target name="eventlog" xsi:type="EventLog"
        source="Lab_Of_NLog" log="Application"
        layout="${date}: ${message} ${stacktrace}" />

  </targets>
  <rules>
    <!-- add your logging rules here -->
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    <!--
    <logger name="*" level="Trace" writeTo="file" />
    <logger name="*" level="Debug" writeTo="file" />
    <logger name="*" level="Info" writeTo="file" />
    <logger name="*" level="Warn" writeTo="file" />
    -->
    <!-- 上面的logger如果都使用一樣的target，也可以寫成這樣的方式 -->
    <logger name="*" levels="Trace, Debug, Info, Warn" writeTo="file" />

    <logger name="*" level="Fatal" writeTo="FatalFile" />
    <logger name="*" level="Fatal" writeTo="eventlog" />
  </rules>
</nlog>
